.headliner {
  display: flex;
  font-size: 2rem;
  justify-content: flex-start;
  background: white;

  & p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
}
.navigation {
  background: black;
}
.menu {
  height: 4rem;
  display: flex;
}
.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 20%;
  justify-content: flex-end;
  font-size: 2rem;
  margin-right: 1rem;
  & a {
    color: white;
    &:last-child {
      display: flex;
      gap: 0.5rem;
    }
  }
}
.nav-area {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: black;
  padding: 1rem;
  width: 78%;

  margin-left: 25%;
  margin-right: 10%;

  text-transform: uppercase;

  & li {
    list-style-type: none;
    font-size: 1.5rem;
    &:hover {
      background: hotpink;
    }

    & a {
      color: white;
      text-decoration: none;
    }
  }
}

// logo

.balticgrace {
  width: 5rem;
  height: 5rem;
}

// cart

.cart-container {
  display: inline-block;
  position: Absolute;
  background: red;
  /* padding: 0rem; */
  height: 45%;
  width: 20%;
  left: 80%;
  display: none;
}
.cart-open {
  display: contents;
}
